#deanery-page{

	& section{
		padding: 4vmax 0;

		& ul{

			& li{
				padding-left: 40px;
				position: relative;

				&:before{
					content: attr(data-symbol);
					display: inline-block;
					width: 40px;
					font-weight: bold;
					position: absolute;
					top: 0;
					left: 0;
				}
			}
		}
	}

	& .lazy{
		background-size: cover;
		width: 100%;

		&#maksimetz{

			margin-bottom: 2vmax;

			& + a{
				margin-bottom: 2vmax;
				display: block;
			}
		}
	}
}